alembic
blinker
cachelib
click
exceptiongroup
Flask
flask-cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
greenlet
gunicorn
importlib_metadata
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
msgspec
packaging
pluggy
psycopg2-binary
Pygments
PyJWT
pytest
python-dotenv
SQLAlchemy
requests
toml
typing_extensions
Werkzeug
zipp
